version: "3.5"

services:
  dev-box01:
    image: sporule/dev-box
    container_name: dev-box01
    restart: always 
    ports:
      - '10022:22'
      - 10080:8080
      - 10000:8000
    volumes:
      - dev-box01:/home/
    environment:
      - JUPYTER=1
    env_file:
      - ./dev-box.env

#   mongo:
#     image: mongo
#     container_name: mongo
#     restart: always
#     ports:
#       - 8081:8081
#     environment:
#       ME_CONFIG_MONGODB_ADMINUSERNAME: root
#       ME_CONFIG_MONGODB_ADMINPASSWORD: name
#     volumes:
#       - mongodb01:/data/db

  # postgres:
  #   image: postgres
  #   container_name: postgres
  #   restart: always
  #   ports:
  #     - 5432:5432
  #   environment:
  #     POSTGRES_PASSWORD: 1q2w3e4r
  #   volumes:
  #     - postgresdb01:/var/lib/postgresql/data
  
  dbadmin:
    image: dockette/adminer:full
    container_name: dbadmin
    restart: always
    ports:
      - 8080:80
      

volumes:
  dev-box01:
#   mongodb01:
#   postgresdb01:

networks:
  default:
    name: dev-boxes
